@{
    ViewData["Title"] = "Home Page";
}
<link href="css/testStyle.css" rel="stylesheet">
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="async-msg">Test</button>
    <h2 id="async-reply">Ausgabe</h2>
    <button class="testbutton btn-dark">Hallo</button>

    <div id="result">

        <div id="content-tabelle"></div>

    </div>
</div>

<!-- Insert this line above script imports  -->
<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
<script src="~/js/jquery.js"></script>
<!-- Insert this line after script imports -->
<script>if (window.module) module = window.module;</script>

<script>

    $(document).ready(function () {
        document.getElementById('async-reply').innerHTML = "Hi";
    });



    const { ipcRenderer } = require("electron");




    document.getElementById("async-msg").addEventListener("click", () => {
        ipcRenderer.send("async-msg", 'ping');
        //$("#result").load("test.html");
    });

    ipcRenderer.on('asynchronous-reply', (event, arg) => {
        const message = `Asynchronous message reply: ${arg}`;
        document.getElementById('async-reply').innerHTML = message;
    });

</script>
